*.pyc
data/v1d/ignore/*
data/v1t/ignore/*
data/v2d/ignore/*
data/v2t/ignore/*
adversarial_autoencoder/exp_*
adversarial_autoencoder/ignore/*
adversarial_autoencoder/exp/ignore/*
att_pre_discriminator/ignore/*
utils/ignore/*
cllr/*
zebra/*
