*.pyc
data/v1d/x_vect_train.balanced.txt
data/v1d/x_vect_train.balanced.txt.standardized
data/v1t/spk
data/v1t/lbl
data/v1t/x_vect_test.balanced.txt
data/v1t/x_vect_test.balanced.txt.standardized
data/v1t/x_vect_test.balanced.txt.standardized.postprob
data/v2d/old/*
data/v2d/xvectors.txt.b.standardized.postprob
data/v2d/xvectors.txt.b.standardized
data/v2d/xvectors.txt.b
data/v2t/spk
data/v2t/lbl
data/v2t/old/*
data/v2t/xvector_test.txt.b.standardized.postprob
data/v2t/xvector_test.txt.b.standardized
data/v2t/xvector_test.txt.b
